/*DEFINITION DE LA POLICE*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
} 
 
 
 html, body{
     
     font-family: "Raleway" , sans-serif;
     overflow-x: hidden;
}
.ensemble{
     max-width: 1250px;
     margin: 0 auto;
     padding-left: 10px;
     padding-right: 10px;
}

/*HEADER*/
 
header{
     margin: 52px 0 0;
     padding: 0;
}
.wrap{
     display: flex;
     align-items: center;
     min-width: 280px;
     flex-wrap: wrap;
     justify-content: space-between;
}
.logo{
     float: left;
}
.list{
     display: flex;
}
.mainnav{
     display: flex;
     align-items: center;
     justify-content: space-around;
     list-style: none;
}
.mainnav li{
     display: inline-block;
}
.mainnav a{
     text-decoration: none;
     color: #000;
}
.inscription{
     display: flex;
     align-items: center ;
     padding: 0 20px;
     margin-right: 40px ;
}
.inscription a{
     padding: 0 20px;
     font-weight: bold;
     color: #0065fc;
     text-decoration: none;
}
.mainnav .acti{
     border-top: 2px solid #fff;
     padding: 63px 30px 10px;
}

.mainnav .acti:hover{
  color:#0065fc;
  border-color: #0065fc;

}




/* CHAMP SEARCH*/
.louperechercher {
     display: none;
}
#search{
     margin: 0;
     padding: 0;
     margin-right: 20px;
     margin-left: 20px;
}
.searchtext{
     position: relative;
     margin: 50px 0 0;
}
.searchtext h1{
     font-size: 25px;
}
.searchtext p{
     margin-top: 10px;
}
.searchchamp{
     margin-top: 25px;
}
.icongps .gps{
     background-color: #f2f2f2;
     height: 50px;
     width: 52px;
     line-height: 50px;
     text-align: center;
     font-size: 1,1em;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;

}
.icongps .search{
     position: relative;
     right: 5px;
     width: 240px;
     height: 50px;
     border: 0px solid #f2f2f2;
     font-size: 18px;
     color: #000;
     font-weight: bold;
     padding-left: 18px;
}
.searchbuttontext{

     padding-left: 20px;
     padding-right: 20px;
     height: 50px;
     font-size: 17px;
     font-weight: 600;
     line-height: 50px;
     background-color: #0065fc;
     color: #fff;
     border: none;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     cursor: pointer
}
 .search, .searchbuttontext:focus{
      outline: none;
 }
 .textrechercher{
      display: hidden;
 }
 .search {
      font-weight: bold;
 }
 
/*--filtres--*/

.searchfilters
{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 40px;

}
.searchfilters h2{
     font-size: 1,5em;
}

.filters{
     display:flex;
     flex-wrap: wrap;
}
.filter-cat{

     border: 2px solid #d9d9d9;
     border-radius: 30px;
     height: 50px;
     border-left: none ;
     display: flex;
     align-items: center;
     padding-right: 10px;
     margin: 20px 0 0 40px;
}
.filter-cat:hover{
     background:#deebff ;
}
.iconfilter
     {color: #0065fc;
     background-color: #deebff;
     height: 50px;
     width: 50px;
     line-height: 45px;
     text-align: center;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;


}
.textfilt{text-decoration: none;
     color: #000;
     padding-left: 5px;
     font-weight: bold;
     font-size: 16px;
     text-align: center;

}
.textfilt:hover{
     color: #0065fc;
}

 
/*--section1INFO--*/

.searchresulticon

{     display: flex;
     align-items: center;
     margin: 30px 0;
}
.searchresulticon .info {
     border: 2px solid #f2f2f2;
     border-radius: 50%;
     width: 40px;
     line-height: 35px;
     text-align: center ;
     color: #0065fc;

}
.searchresulticon p{
     margin-left: 10px;
}

/*section2HOSTING+POPULAR*/

/*HOSTING*/
.main {
     margin: 0 auto;
     padding: 0;
}

.group{
      display: flex;
      justify-content: space-around;
      margin: -20px;
}
.hebergementscontainer{
     background-color: #f2f2f2;
     flex: 100%;
     margin: 0 auto;
     margin-left: 40px;
     padding: 25px 20px 25px 15px;
     border-radius: 15px;
}

.hebergementscontainer h2
{ 
     font-size: 25px;
     margin: 18px 25px 0 ;

}

.hebergementcard{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-right: 10px;
}
.hebergementelement{
     flex-basis:  30% ;
     margin-top: 30px;
     height: 200px;
     margin-left: 20px;
     background-color: #fff;
     border-radius: 15px;
     box-shadow: 0 0 6px 3px #d8d7d7;
     text-decoration: none;
}
.hebergementelement:hover{
     transform: scale(1.01);
}
.hebergementelement img
{
     height: 115px;
     object-fit: cover;
     width: 100%;
     padding: 5px 5px 0 5px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;

}
.details{
    display: flex;
    flex-direction: column;
}
.details h3
{    font-size: 15px;
     margin-left: 15px;
     margin-top: 8px;
     margin-bottom: 6px;
     color: #000;

}
.details p
{    font-size: 15px;
     margin-left: 15px;
     margin-bottom: 6px;
     color: #000;

}
.hebergementmaincardprice {
     font-weight: bold;
}



.hebergementmainstar{
     display: inline-block;
     position: relative;
     left: 15px;
     font-size: 12px;


}
.true{
     color: #0065fc
}
.false{
     color: #d9d9d9;
}

.mainafficherplus{
     flex: 1;
     margin-left: 25px;
     margin-top: 35px;
     text-decoration: none;
     color: #000;
     font-weight: bold;
     font-size: 18px;
     position:absolute

}


/*POPULAR*/
.hebergementpopular{

     background-color: #f2f2f2;
     border-radius: 10px;
     margin: 0px 35px 0px 35px;
     padding: 20px 35px 20px 35px;
}
.asidetitle{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 15px;
}

.asidetitle > h2
{ 
     font-size: 25px;
     margin: 3px 5px 0 0;
     font-weight: bold;

}
.popularmaincard
{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.popularcard
{    width: 345px;
     height: 145px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 0 0 6px 3px #d9d9d9;
     margin: 10px 5px 0 0;

}
.popularelement img 
{ 
     object-fit: cover;
     border-top-left-radius: 15px ;
     border-bottom-left-radius: 15px;
     margin: 5px;
     height: 135px;
     width: 125px;
}
.popularelement{
     text-decoration: none;

}

.detailcard{
     display: flex;
     flex-direction: column;
     margin-top: -133px;
     margin-left: 160px;
}
.detailcard h3
{  font-size: 16px;
     margin-bottom: 5px;
     font-weight: bolder;
     color: #000;
     

}

.detailcard p
{ font-size: 15px;
margin-bottom: 35px ;
color: #000;
}


.popularcard:hover
{ transform: scale(1.01);

}
.popularmainstar{
     font-size: 12px;
}
.fleche{
     font-size: 25px;
     margin: 5px 10px 0 0;
}
.price{
     font-weight: bold;
}

/*--Section3 ACTIVITY--*/
.groupecardactivity{
     display: flex;
     align-content: space-between;
     justify-content: space-between;
     height: 430px;
     box-sizing: border-box;
     width:100%;
}
.activitysingle{
     width: 23%;
}
.blocactivity{
     width: 23%;
}
.carte{
     border-radius: 15px;
     box-shadow: 0 0 6px 3px #d9d9d9;

}
.carte:hover{
     transform: scale(1,01);
}
.activitytitle{
     margin: 40px 0 30px;
     font-size: 25px;
     padding-left: 8px;

}
.carte img{
     width: 100%;
     object-fit: cover;
     border-radius: 15px 15px 0 0;
}
.location1and4{
     height: 380px;
}
.location2{
     height: 170px;
}
.location3{
     height: 110px;
}
.location5{
     height: 140px;
}
.location6{
     height: 140px;

}
.activitycard{
     text-decoration: none;
}
.nameactivity{
     padding: 15px 0 15px 20px;
     color: black;
}
.activity2{
     margin: 0 0 46px;
}
.activity5{
     margin: 0 0 47px;
}






     /*--FOOTER--*/
.footersearch{
     background-color: #f2f2f2;
     width: 100%;
     margin-top: 70px;
}

.footernav{
     display: flex;
     max-width: 100%;
     width: 1440px;
     margin: auto;
     padding: 0 3rem;
     box-sizing: border-box ;
     justify-content: space-between;
}
.footerdescript .footerdescriptlogt .footerassist {
     width: 30%;
     padding: 10px 50px ;
}
.link{
     display: flex;
     margin: 1rem 0;
     text-decoration: none;
     margin-bottom: 12px;
     color: #000;
}
footer h3{
     font-size: 18px;
     margin-bottom: 20px;
     margin-top: 40px;
}
.link:hover{
     color: #0065fc;
}


      /*MEDIA QUERIES*/
     
     
     
     @media only screen and (max-width: 1024px) {
          
          .searchbutton{
               position: relative;
               bottom: 50px;
               left: 430px;
               display: block;
               background-color:#0065fc;
               height: 50px;
               width: 50px;
               border-radius: 10px;
               line-height: 50px;
               border: none;
               cursor: pointer;
          }
          .icongps .search{
               position: relative;
               right: 5px;
               margin-right: 0;
               width: 40%;
               height: 50px;
               border: 1px solid #f2f2f2;
               font-size: 18px;
               border-top-right-radius: 10px ;
               border-bottom-right-radius: 10px;
          }
          .iconsearch{
               color:#fff;
               font-size: 15px;
          }
          .searchfilters{
               display: inline-block;
          }
     
          .group
          {display: flex ;
               flex-direction: column-reverse;
     
          }
          .hebergementscontainer{
               background-color: #f2f2f2;
          }
          .hebergementpopular
          
          {    background-color: #f2f2f2;
               width: 100%;
               margin-bottom: 40px;
               margin-left: 6px;
          }
          .popularcard{
               width: 100%;
          }
          .popularcard img{
               width: 30%;
          }
          /*.details{
               margin-left: 50%;
          }*/
          .carte{
               background-color: #fff;
          }
          .nameactivity{
               font-size: 12px;
               padding: 8px 0 15px 5px;
          }
          .location1and4{
               height: 369px;
          }
          .link{
               font-size: 15px;
          }
          .footerdescriptlogt{
               margin-left: 80px;
          }
          .footerassist{
               margin-left: 80px;
          }
     
     }
     
     @media only screen and (max-width:768px)
     {
      header{
           margin: 15px;
           padding: 15px;
      }
      .searchtext{
           position: relative;
      }

     .searchchamp{
          margin-top: 30px;
     
     }
     .textrechercher{
          display:none;
     }
     .louperechercher{
          display:block;
     }
     .searchbuttontext{
          border-radius: 15px;
     }
     .searchbutton{
          position: relative;
          bottom: 50px;
          left: 55%;
          display: block;
          background-color: #0065fc;
          height: 50px;
          border-radius: 10px;
          line-height: 50px;
          border: none;
          cursor: pointer;

     }
     .iconsearch{
          color: #fff;
          font-size: 15px;
     }
     .icongps .search{
          position: relative;
          right: 5px;
          margin-right: 0;
          width: 55%;
          height: 50px;
          border: 1px solid #f2f2f2;
          font-size: 18px;
          font-weight: bold;
     
     }
     .searchresulticon{
          margin-top: 29px;
     
     }
     .searchfilters{
          display: inline-block;
          margin-top: -20px;
     }
     .textfilt{
          font-size: 13px;
     }
     /*.searchresulticon .info{
          width: 20px;
          height: 20px;
          line-height: 25px ;
          font-size: 10px;
          
     }*/
     .searchresulticon p {
          font-size: 14px;
     }
     .inscription{
          display: flex;
          flex-direction: row-reverse;
          left: 25px;
          text-decoration: none;
          color: #0065fc;
          font-weight: bold;
     }
     .main{
          padding: 0px;
     }
     .group{
          display: flex;
          flex-direction: column-reverse;
          align-items: normal;
     }
     .hebergementscontainer{
          background-color: #fff;
          padding: 0 0 10px 0;
     }
     .hebergementscontainer h2{
          margin-left: 20px;
     }
     .hebergementcard{
          display: flex;
          flex-direction: column;
          padding: 0;
          background-color: #fff;
     }
     .hebergementelement{
          flex: 0;
          flex-direction: column;
          width: auto;
     }
     .hebergementmainstar{
          margin-bottom: 20px;
     }
     .details{
          margin-left: 0%;
     }
     .mainafficherplus{
          margin-top: 35px;
     }
     .hebergementpopular{
          width: 100%;
          margin-bottom: 50px;
          margin-left: 0px;
     }
     .popularcard{
          width: 100%;
     }
     .popularcard img{
          width: 35%;
     }
     .detailcard{
          font-size: 0,6rem;
          margin-left: 270px;
     
     }
     .detailcard h3{
          font-size: 0,7rem;
     }
     .detailcard p {
          font-size: 0,7rem;
     }
     .popularmainstar{
          margin-bottom: 25%;
     }
     .activitytitle{
          margin: 100px 0px 30px;
     }
     .groupecardactivity{
          display: grid;
          height: auto;
          margin-bottom: 25px;
          justify-content: normal;
     }
     .blocactivity{
          width: auto;
     }
     .location1and4{
          border-radius: 10px;
     }
     .carte img{
          width: 100%;
          height: 200px;
     
          
          
     }
     .carte{
          margin-bottom: 25px;
     }
     .nameactivity{
          padding: 20px 0 15px 20px;
          border-radius: 0 0 1,25rem 1,25rem;
          border-color: transparent;
          box-shadow: #d8d7d7;
     
     }
     .footernav{
          flex-direction: column;
          padding: 0 15px;
     }
     .footerdescript, .footerdescriptlogt, .footerassist{
          width: 100%;
          padding: 0;
          margin: 0;
     }
     }
     
     @media only screen and (max-width: 480px) {
     
          .searchtext h1{
               font-size: 20px;
          }
          .detailcard h3{
               font-size: 0,7rem;
          }
          .ensemble{
               padding-left: 0px;
               padding-right: 0px;
          }
     
     .search .searchbuttontext{
               position: relative;
               right: 7px;
               margin-right: 0;
               width: 71%;
               height: 62px;
               border: 1px solid #f2f2f2;
               font-size: 15px;
               font-weight: bold;
     
          }
     
          
          .mainnav .acti::after {
               margin-left: -55px;
     
          }
          .mainnav .acti{
          
               padding:0px;
               padding-bottom: 15px;
               width: 100%;


          }
          .mainnav .actilist:hover{
               color:#0065fc;
               border-color: #0065fc;
             
             }.mainnav .acti{
               border-top: 2px solid #fff;
               padding:  0px 63px 30px 10px;
          }

          
          .mainnav .acti:hover{
            color:#0065fc;
            border-color: #0065fc;
          
          }


             
          .mainnav{
               width: 100%;
               margin-right: 0px;
               margin-left: 0px;
               padding: 25px;
          }
          .list{
               width: 100%;
               display: flex;
               flex-direction: column-reverse;
          }
          .inscription{
               margin: 0px;
               padding: 0px;
          }
          header{
               margin: 0px;
               padding: 0px;
               margin-top: 20px;
          }
          .searchbutton{
               position: relative;
               display: block;
               bottom: 55px;
               left: 87%;
               background-color: #0065fc ;
               height: 45px;
               width: 45px;
               border-radius: 10px;
               line-height: 40px;
               border: none;
               cursor: pointer;
          
          }
          .detailcard{
               margin-right:10px 
     
          }
          .detailcard p {
               font-size: 0,7rem;
          }
         
          .detailcard {display: flex;
          flex-direction: column;
          margin-top: -133px;
          margin-left: 150px;
          }
          .searchfilters{
               display: inline-block;
               margin-top: 0px;
          }
          .logo{
               float: left;
               height: 80px;
               width: 80px;
               position: absolute;
               top: 0;
               margin-left: 20px;
          }
          .inscription a{
               margin-bottom: 10px;
               margin-top: 10px;
          }
          .hebergementscontainer{
               padding: 25px;
          }
     #activity{
          margin: 15px;
          
     }
     .hebergementcard{
          margin-right: 15px;
          margin-left: -5px;
     }
     .icongps{
          width: 400px;
     }
     .searchbuttontext{
          position:relative;
          right:20px;
     }
     .searchfilters h2{
          margin-top: 30px;
     }
     .filter-cat{
          margin: 20px 0px 0px 30px;
     }

     }
     
        
  







